:root{
  --poppins-regular: 'Poppins_Regular', sans-serif;
  --poppins-medium: 'Poppins_Medium', sans-serif;
  --poppins-SemiBold: 'Poppins_Semibold', sans-serif;
  --text-color-main: #fff;
  --text-color-secondary: rgba(193, 12, 153, 1);
  --button-background-main: #C10C99;
  --border-color-main: #fff;
}

body{
  margin: 0;
  padding: 0;
  font-family: var(--poppins-regular);
}

*:focus{
  outline: none;
}
